<!-- About Section -->
<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <br />
      <img src="img/mini/skyline_day.jpg" class="card-img-top" alt="...">
      <br />
      <br />

      <h2>About</h2>
      <p>Featured in Apartment Therapy and boasting stunning views of the NYC Harbor and Lower Manhattan, Number 15C in the historic St. George Tower can be yours.</p>

      <p>This tastefully designed alcove studio features airy ceilings, refinished hardwood floors, and a built in bookcase. The generous sleeping alcove that adjoins the living area features a spacious ceiling-height closet.</p>

      <p>The large living area provides plenty of space for both a desk and dining table with a pass-through to the kitchen. The kitchen features stainless steel appliances, a full-size dishwasher, under cabinet lighting and yet another fabulous view
        of the harbor.</p>

      <p>Walk past the hallway’s dual closets to reach the bathroom, which is outfitted with a soaking tub/shower and Japanese washlet bidet.</p>

      <p>The St. George Tower was designed in 1929 by the renowned Emery Roth. Its recently restored façade features Art Deco elements which carry on into the renovated 2-story lobby. There's a 24-hour doorman, live-in super, onsite management, 4
        elevators, laundry facilities, a package room, and a bike room. There's additional storage space available in the basement and a health/sports club in the building.</p>

      <p>The incredible roof deck on the 27th floor sports unobstructed 360-degree views of the city and harbor. It's the perfect place to spend a Sunday morning with a cup of coffee and The New York Times. Mere blocks away, the Brooklyn Heights
        Promenade grants easy access to Brooklyn Bridge Park and DUMBO. Commuting is made easy via the same-block 2/3 train entry, and 4/5/A/C/F/R lines provide additional nearby convenience.</p>

      <p>Pets welcome</p>

      <p>Viewings by appointment only.</p>

      <p>Maintenance: $990</p>

      <br />

      <div class="container">
        <div class="row">
          <div class="col-sm">
            <ul class="list-group list-group-flush">
              <li class="list-group-item list-group-item-header">Building Amenities</li>
              <li class="list-group-item"><i class="fas fa-bicycle"></i>Bike room</li>
              <li class="list-group-item"><i class="fas fa-door-open"></i>Full-time doorman</li>
              <li class="list-group-item"><i class="fas fa-wrench"></i>Live in super</li>
              <li class="list-group-item"><i class="fas fa-dolly-flatbed"></i>Storage available</li>
              <li class="list-group-item"><i class="fab fa-accessible-icon"></i>Wheelchair access</li>
              <li class="list-group-item"><i class="fas fa-tshirt"></i>Laundry in building</li>
              <li class="list-group-item"><i class="fas fa-paw"></i>Pets allowed</li>
              <li class="list-group-item"><i class="fas fa-box"></i>Package room</li>
            </ul>
          </div>
          <div class="col-sm">
            <ul class="list-group list-group-flush">
              <li class="list-group-item list-group-item-header">Apartment Amenities</li>
              <li class="list-group-item"><i class="fas fa-utensils"></i>Dishwasher</li>
              <li class="list-group-item"><i class="fas fa-city"></i>City views</li>
              <li class="list-group-item"><i class="fas fa-ship"></i>Harbor views</li>
              <li class="list-group-item"><i class="fas fa-tree"></i>Hardwood floors</li>
              <li class="list-group-item"><i class="fas fa-snowflake"></i>Central air conditioning</li>
            </ul>
          </div>
        </div>
      </div>

      <h3>Links</h3>

      <div class="container">
        <a href="https://stgeorgetower.com/" class="btn btn-secondary"><i class="fa fa-building fa-fw"></i>St. George Tower Website</a>
        <a href="https://www.instagram.com/stgeorgetower/" class="btn btn-primary"><i class="fa fa-instagram fa-fw"></i>St. George Tower on Instagram</a>
      </div>

      <br />

    </div>

  </div>
  {% include map.html %}

</section>
