<!-- About Section -->
<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <br />
      <br />
      <p>Featured in Apartment Therapy and boasting stunning views of the NYC Harbor and Lower Manhattan, Number 15C in the historic St. George Tower can be yours.</p>

      <p>This tastefully designed alcove studio features airy ceilings, refinished hardwood floors, and a built in bookcase. The generous sleeping alcove that adjoins the living area features a spacious ceiling-height closet.</p>

      <p>The large living area provides plenty of space for both a desk and dining table with a pass-through to the kitchen. The kitchen features stainless steel appliances, a full-size dishwasher, under cabinet lighting and yet another fabulous view
        of the harbor.</p>

      <p>Walk past the hallway’s dual closets to reach the bathroom, which is outfitted with a soaking tub/shower and Japanese washlet bidet.</p>

      <p>The St. George Tower was designed in 1929 by the renowned Emery Roth. Its recently restored façade features Art Deco elements which carry on into the renovated 2-story lobby. There's a 24-hour doorman, live-in super, onsite management, 4
        elevators, laundry facilities, a package room, and a bike room. There's additional storage space available in the basement and a health/sports club in the building.</p>

      <p>The incredible roof deck on the 27th floor sports unobstructed 360-degree views of the city and harbor. It's the perfect place to spend a Sunday morning with a cup of coffee and The New York Times. Mere blocks away, the Brooklyn Heights
        Promenade grants easy access to Brooklyn Bridge Park and DUMBO. Commuting is made easy via the same-block 2/3 train entry, and 4/5/A/C/F/R lines provide additional nearby convenience.</p>

      <p>Pets welcome</p>

      <p>Viewings by appointment only.</p>

      <br />

      {% include contact_button.html %}

      <br />

    </div>
  </div>
</section>
