<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-102025645-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-102025645-2');
  </script>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="{{ site.author }}">

  <!-- COMMON TAGS -->
  <meta charset="utf-8">
  <title>For Sale: 111 Hicks Street 15C, Brooklyn, New York</title>
  <!-- Search Engine -->
  <meta name="description" content="An alcove studio apartment in Brooklyn Heights for sale">
  <!-- Schema.org for Google -->
  <meta itemprop="name" content="For Sale: 111 Hicks Street 15C, Brooklyn, New York">
  <meta itemprop="description" content="An alcove studio apartment in Brooklyn Heights for sale">
  <!-- Open Graph general (Facebook, Pinterest & Google+) -->
  <meta name="og:title" content="For Sale: 111 Hicks Street 15C, Brooklyn, New York">
  <meta name="og:description" content="An alcove studio apartment in Brooklyn Heights for sale">
  <meta name="og:image" content="http://111hicksstreet15c.com/img/mini/header.JPG" />
  <meta name="og:type" content="website">

  <!-- Bootstrap Core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="css/landing-page.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <script src="https://kit.fontawesome.com/6bfc6b5292.js" crossorigin="anonymous"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6trpG64MGym0B2iUei6m1WxxPhITfFcw&callback=initMap&libraries=&v=weekly" defer></script>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;700&display=swap" rel="stylesheet">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
